tensorflow-cpu==2.5.0
numpy
pandas
opencv-python-headless==4.2.0.32
seaborn
matplotlib
ipython
livelossplot
gunicorn==20.1.0
Flask
Flask-WTF
Jinja2
MarkupSafe
WTForms
Werkzeug
argparse
itsdangerous
passlib
